{% extends 'destinos_turisticos.html' %}
{% load static %}

{% block content %}

<div class="centered-container">
    <div class="detalle-destino">
        <div class="imagen">
            <img src="{{ destino.imagenCiudad.url }}" alt="{{ destino.nombreCiudad }}" class="imagen-ciudad">
        </div>
        <div class="descripcion-precio">
            <div class="descripcion">
                <h2>{{ destino.nombreCiudad }}</h2>
                <p>{{ destino.descripcionCiudad }}</p>
            </div>
            <div class="precio-oferta">
                <div class="precio">
                    <p>Precio: {{ destino.precioTour }}</p>
                </div>
                <div>
                    {% if destino.ofertaTour %}
                        <p class="oferta">¡En oferta!</p>
                    {% endif %}
                </div>
                <div class="comprar-btn">
                    <a href="http://127.0.0.1:8000/cuentas/login" class="comprar-btn">COMPRAR</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
